@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Rubik", "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* background: url("./images/bg.jpg") no-repeat;
  background-size: cover; */
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.carousel {
  overflow: hidden;
}

.activate {
  transition: all 0.5s linear;
  animation: in 4s linear 0s infinite;
  position: relative;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}





@keyframes in {
 0% {
  opacity: 0;
  top: 100px;
 }
 25% {
  opacity: 1;
  top: 0;
 }

 75% {
  opacity: 1;
  top: 0;
 }
100% {
  opacity: 0;
  top: 100px;
}
}

:root {
  font-family: "Rubik", "Poppins", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  --primary-color: #8e00fe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container {
  max-width: 85vw;
  width: 85vw;
  margin: 0 auto;
}

.features-icon {
  @apply bg-gray-300 p-2 rounded-full w-10 h-10
}

.timer-cards {
  @apply text-2xl text-white font-medium w-16 h-16 bg-black rounded-md justify-center items-center flex bg-primary_lite
}


.overlay {
  background: rgba(144, 0, 254, 0.1);
  position: absolute;
  top: 0;
  left: -200px;
  right: -200px;
  bottom: 0;
  z-index: -1;
}

.header-container {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-img {
  width: 70px;
}

.nav {
  display: flex;
  /* position: relative; */
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 2em;
}

.hamburger {
  z-index: 11;
}

.nav-item {
  padding-left: 0;
}

.nav-item a {
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
}

a {
  text-decoration: none;
}

/* Pages */

/* Home */

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  object-fit: cover;
}

.main {
  display: grid;
  justify-content: center;
  gap: 2em;
  text-align: center;
  padding-top: 4em;
}

.countdown-heading {
  font-size: 1.2rem;
  display: flex;
  gap: 0.5em;
  align-items: baseline;
  justify-content: center;
  color: var(--primary-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.611);
  font-style: italic;
}


.timer {
  display: flex;
  gap: 2em;
}

.timer h4 {
  color: #fff;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

.waitlist {
  display: grid;
  gap: 0.5em;
}

.form-inp,
.form-btn {
  border: none;
  font-weight: bold;
}

.form-inp {
  outline: none;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-btn {
  width: 40%;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  position: relative;
}

.form-btn:hover {
  background: black;
  position: relative;
}



main small {
  color: black;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
}

.social {
  display: grid;
  gap: 1em;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 1em;
  width: 20px;
}

.social-media-icons img {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.social-media-icons img:hover {
  transform: scale(1.1);
  /* background-color: #9000fe54; */
}

.downloads {
  display: flex;
  justify-content: center;
  gap: 3em;
  align-items: center;
}

.download-store img {
  border-radius: 4px;
  cursor: pointer;
}

/* Contact */
.contact-page {
  padding: 1em 0 0 0;
  background: rgba(144, 0, 254, 0.1);
  position: relative;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 1em;
}

.contact-us {
  display: flex;
  margin: 0 auto;
  gap: 3em;
  padding: 2em 0;
  padding-bottom: 4em;
}

.contacts,
.contact-form {
  box-shadow: -1em 1em 0.2em rgba(82, 80, 80, 0.6);
  border-radius: 0.5em;
  padding: 3em 1.5em;
  background: #fff;
}

.contacts {
  width: 40%;
  align-self: center;
  padding: 1.5em 1.5em 3em 1.5em;
}

.contact-form {
  width: 60%;
}

.contact-form form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: -0.7em;
}

.contacts ul {
  list-style: none;
  padding-left: 0;
}

.address {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

iframe {
  width: 100%;
}

.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  display: block;
  background-color: var(--primary-color);
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-family: "Rubik", "Poppins", Helvetica, Arial, sans-serif;
  padding: 0.8em 1.3em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  background: black;
}

.address img {
  width: 20px;
}

/* Features */

.features-page {
  /* background: rgba(144, 0, 254, 0.1); */
}

.features-hero {
  background: url("./images/features_hero.jpg");
  /* height: 100vh; */
}

.features-main {
   background: url("./images/features_kili.jpg");
   background-position: center;
   background-size: cover;
   height: 100vh;
}



/* Footer */

.footer {
  padding: 2em 0 4em;
  background-color: white;
}

.footer-container {
  display: flex;
  gap: 4em;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.footer-social-icons {
  display: flex;
  gap: 1em;
}

.footer-social-icons img {
  width: 24px;
}

.footer-links {
  display: flex;
  gap: 8em;
}

.footer-links h5 {
  margin-bottom: 0;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
}

.footer-links-list ul {
  list-style: none;
  padding-left: 0;
}

.footer-links-list a {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.6;
  color: black;
}
/* 
@media (min-aspect-ratio: 16/9) {
  .video-bg {
    width: 100%;
    height: auto;
  
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: auto;
    height: 100%;
    bottom: 0;
    left: 0;
  
  }
} */

@media screen and (max-width: 968px) {
  body {
    font-size: 14px;
  }

  .nav-items {
    display: none;
  }

  .nav-show {
    display: flex;
    list-style: none;
    position: absolute;
    top: -1em;
    right: 0;
    background: rgba(195, 171, 213, 0.893);
    min-width: 60vw;
    flex-direction: column;
    padding: 3em;
    height: 100%;
    z-index: 10;
    padding-top: 5em;
    gap: 3em;
    animation: slide-in .6s linear;
  }

  @keyframes slide-in{
    from {
      right: -50vw;
    }
    to {
      right: 0;
    }
  }

  .home-page {
  }

  .container {
    max-width: 95vw;
  }

  .logo-img {
    width: 50px;
  }

  .countdown-heading h1 {
    font-size: 1.6rem;
  }

  .clock-icon {
    width: 1.5em;
  }

  .timer {
    justify-content: center;
  }

  .timer h4 {
    font-size: 0.8em;
  }

  .timer-cards {
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  /* .waitlist form {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
  } */

  .form-inp,
  .form-btn {
    padding: 0.7em 2em;
  }

  .form-inp {
    border-radius: 0.2em 0 0 0.2em;
    width: 60%;
  }

  .form-btn {
    border-radius: 0 0.2em 0.2em 0;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .social {
    width: 95%;
    margin: 0 auto;
  }

  .social-media-icons {
    width: 10px;
  }

  .downloads {
    gap: 1em;
  }

  /* Contact */

  .contact-page {
    /* width: %; */
  }

  .contact-page h1 {
    font-size: 1.5em;
  }

  .contact-us {
    padding: 1em 0 2em 0;
    flex-direction: column;
    align-items: center;
  }

  .contacts,
  .contact-form {
    width: 90%;
  }

  /* About */
  .features-page {
    width: 100%;
  }

  

  /* .about-stores img {
  width: 150px;
} */

  /* Footer */

  .footer {
    padding: 1em 0 2em;
    background-color: white;
  }

  .footer-container {
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo-div {
    gap: 1em;
  }

  .footer-social-icons {
    display: flex;
    gap: 1em;
  }

  .footer-social-icons img {
    width: 20px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
  }

  .footer-links h5 {
    margin-bottom: 0;
  }

  .footer-links-list {
    display: flex;
    flex-direction: column;
  }

  .footer-links-list ul {
    list-style: none;
    padding-left: 0;
  }

  .footer-links-list a {
    font-weight: normal;
    font-size: 13px;
    line-height: 1.6;
    color: black;
  }
}
