@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Rubik", "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 400;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.carousel-text {
  position: relative;
  height: 80px;
}

.carousel {
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.container {
  max-width: 85vw;
  width: 85vw;
  margin: 0 auto;
}

.features-icon {
  @apply bg-gray-300 p-2 rounded-full w-10 h-10;
}

.timer-cards {
  @apply text-2xl text-white font-medium w-16 h-16 bg-black rounded-md justify-center items-center flex bg-primary animate-pulse;
}

.frames {
  @apply z-50 absolute;
}

.overlay {
  background: rgba(144, 0, 254, 0.1);
  position: absolute;
  top: 0;
  left: -200px;
  right: -200px;
  bottom: 0;
  z-index: -1;
}

.header-container {
  padding-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo-img {
  width: 70%;
}

.nav {
  display: flex;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 2em;
}

.hamburger {
  z-index: 11;
}

.nav-item {
  padding-left: 0;
}

.nav-item a {
  color: #000;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  position: relative;
}

a {
  text-decoration: none;
}

/* Pages */

/* Home */
.hero-img {
  position: relative;
  animation: fadein 2s ease-in-out 0.5s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.timer {
  display: flex;
  gap: 2em;
}

.timer h4 {
  color: #fff;
  text-shadow: 1px 1px 1px black;
  margin: 0;
}

.form-inp,
.form-btn {
  border: none;
  font-weight: bold;
}

.form-inp {
  outline: none;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-btn {
  width: 40%;
  color: white;
  cursor: pointer;
  position: relative;
}

.form-btn:hover {
  background: black;
  position: relative;
}

/* Contact */
.contact-page {
  padding: 0;
  background: url(../images/contact_bg.jpg);
  background-size: cover;
  position: relative;
}

.contact-page h1 {
  text-align: center;
  margin-top: 2em;
}

.contact-us {
  display: flex;
  margin: 0 auto;
  gap: 3em;
  padding: 2em 0;
  padding-bottom: 4em;
}

.contacts,
.contact-form {
  box-shadow: -1em 1em 0.2em rgba(82, 80, 80, 0.6);
  border-radius: 0.5em;
  padding: 3em 1.5em;
  background: #fff;
}

.contacts {
  width: 40%;
  align-self: center;
  padding: 1.5em 1.5em 3em 1.5em;
}

.contact-form {
  width: 60%;
}

.contact-form form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: -0.7em;
}

.address {
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

iframe {
  width: 100%;
}

.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.contact-form input[type="submit"] {
  display: block;
  background-color: var(--primary-color);
  margin: 0 auto;
  color: white;
  padding: 0.8em 1.3em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.contact-form input[type="submit"]:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
  background: black;
}

.address img {
  width: 20px;
}

/* Footer */

.footer {
  padding: 2em 0 4em;
  background-color: white;
}

.footer-container {
  display: flex;
  gap: 4em;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-social-icons {
  display: flex;
  gap: 1em;
}

.footer-social-icons img {
  width: 24px;
}

.footer-links {
  display: flex;
  gap: 8em;
}

.footer-links h5 {
  margin-bottom: 0;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
}

.footer-links-list ul {
  list-style: none;
  padding-left: 0;
}

.footer-links-list a {
  font-weight: normal;
  font-size: 13px;
  line-height: 1.6;
  color: black;
}

/* lykluk animation on coming soon page */
.likes,
.reels,
.share,
.contact-heading {
  background: linear-gradient(90deg, #000000 13.39%, #8e00fe 101.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.imagesAnimationDiv {
  position: relative;
  overflow: hidden;
  height: 110px;
}
.lykluk {
  position: absolute;
  top: 120px;
  animation: lykluk 5.45s linear infinite alternate;
}
.likes {
  position: absolute;

  top: 120px;
  animation: lykluk 5.45s linear infinite alternate;
  animation-delay: 2.8s;
}
.reels {
  position: absolute;

  top: 120px;
  animation: lykluk 5.45s linear infinite alternate;
  animation-delay: 5.6s;
}
.share {
  position: absolute;

  top: 120px;

  animation: lykluk 5.45s linear infinite alternate;
  animation-delay: 8.3s;
}
@keyframes lykluk {
  0% {
    top: 0px;

    display: none;
  }

  20% {
    top: 0px;
    display: block;
  }
  25% {
    top: 120px;
    display: block;
  }

  100% {
    top: 120px;
    visibility: hidden;
  }
}

@media screen and (max-width: 968px) {
  body {
    font-size: 14px;
  }

  .nav-items {
    display: none;
  }

  .nav-show {
    display: flex;
    list-style: none;
    position: absolute;
    top: -1em;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    min-width: 60vw;
    flex-direction: column;
    padding: 3em;
    height: 100%;
    z-index: 10;
    padding-top: 5em;
    gap: 3em;
    animation: slide-in 0.6s linear;
  }

  @keyframes slide-in {
    from {
      right: -50vw;
    }
    to {
      right: 0;
    }
  }

  .timer {
    justify-content: center;
  }

  .timer h4 {
    font-size: 0.8em;
  }

  .timer-cards {
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .form-inp,
  .form-btn {
    padding: 0.7em 2em;
  }

  .form-inp {
    border-radius: 0.2em 0 0 0.2em;
    width: 60%;
  }

  .form-btn {
    border-radius: 0 0.2em 0.2em 0;
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .social {
    width: 95%;
    margin: 0 auto;
  }

  .social-media-icons {
    width: 10px;
  }

  .downloads {
    gap: 1em;
  }

  /* Contact */

  .contact-page h1 {
    font-size: 1.5em;
  }

  .contact-us {
    padding: 1em 0 2em 0;
    flex-direction: column;
    align-items: center;
  }

  .contacts,
  .contact-form {
    width: 90%;
  }

  /* Coming soon*/
  .features-page {
    width: 100%;
  }

  .features-hero .container {
    gap: 2em;
  }

  /* Footer */

  .footer-container {
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo-div {
    gap: 1em;
  }

  .footer-social-icons {
    display: flex;
    gap: 1em;
  }

  .footer-social-icons img {
    width: 20px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  .footer-links h5 {
    margin-bottom: 0;
  }

  .footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .footer-links-list ul {
    list-style: none;
    padding-left: 0;
  }

  .footer-links-list a {
    font-weight: normal;
    font-size: 13px;
    line-height: 1.6;
    color: black;
  }
}
